* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clock {
  position: relative;
  width: clamp(30vw, 400px, 800px);
  aspect-ratio: 1/1;
  margin: 0 auto;
  border: 5px groove black;
  border-radius: 50%;
  background: linear-gradient(rgb(231, 231, 231), rgb(199, 199, 199));
}
#clock div {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px 5px 0 0;
  transform-origin: bottom;
}
#hour-hand {
  width: 2.5%; /* Thinner is usually better for scaling */
  height: 35%;
  background: black;
  z-index: 3;
}
#min-hand {
  width: 2.5%;
  height: 40%;
  background: black;
  z-index: 2;
}
#sec-hand {
  width: 1%;
  height: 45%;
  background: red;
  z-index: 1;
}
#pin {
  width: 5%;
  aspect-ratio: 1/1;
  background: radial-gradient(circle at 30% 30%, #444, #000);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 50% !important;
  transform: translate(-50%, 50%) !important;
  z-index: 4;
}
