* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clock {
  position: relative;
  width: clamp(30vw, 400px, 800px);
  aspect-ratio: 1/1;
  margin: 0 auto;
  border: 5px groove black;
  border-radius: 50%;
  background: linear-gradient(rgb(231, 231, 231), rgb(199, 199, 199));
}
#clock #hour-hand,
#min-hand,
#sec-hand,
#pin {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px 5px 0 0;
  transform-origin: bottom;
}
.mark {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  transform-origin: center;
  transform: translateX(-50%) rotate(calc(var(--i) * 30deg));
}
.mark::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 15px;
  background: black;
  border-radius: 2px;
}
.mark:nth-child(3n)::before {
  width: 6px;
  height: 20px;
  background: #000;
}
#hour-hand {
  width: 2.5%;
  height: 25%;
  background: black;
  z-index: 3;
}
#min-hand {
  width: 2.5%;
  height: 40%;
  background: black;
  z-index: 2;
}
#sec-hand {
  width: 1%;
  height: 45%;
  background: red;
  z-index: 1;
}
#pin {
  width: 5%;
  aspect-ratio: 1/1;
  background: radial-gradient(circle at 30% 30%, #444, #000);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 50% !important;
  transform: translate(-50%, 50%) !important;
  z-index: 10;
}
.number {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px; 
  height: 100%;
  transform: translateX(-50%) rotate(calc(var(--i) * 30deg)) !important;
  transform-origin: center !important;
  display: block !important;
  bottom: 0 !important;
}
.number span {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%) rotate(calc(var(--i) * -30deg)); 
  display: inline-block;
  font-family: sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  white-space: nowrap;
}
